APP_NAME=PDFParser
APP_ENV=local
APP_KEY=base64:PUT_YOUR_GENERATED_KEY_HERE
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

SESSION_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

CACHE_STORE=file

OPENAI_API_KEY=your_key
